<%- include('./partials/_head') %>
    <div class="container d-flex flex-column align-items-center mt-5">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
<%- include('./partials/_footer') %>